.header-search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  background: #fff;
  box-sizing: border-box;
  margin: 0 auto;

  .inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    background-image: url(https://s3-alpha-sig.figma.com/img/3f23/eada/4958946c8bb98e5a1c6a870311d53cd5?Expires=1637539200&Signature=c7tQahNVY29its5L-01LNx1KOxftrW-IvAZ6zqC0TWK11yHIuAfU43lXhwR0A7POyH6X4cE94n1donaR4uwSCg6fZFC-SoIJ-OIEvLl0TWe3WIt3Bm6lIGduVuDEzB2H1RjjE3AowlQ80RgML~f3I-q9z5VKmFdBzbnhWxpJp7rQkltEOF13wHoSriMMMMYGj3ipuoVh8jWKr0JrvE0HC5dXGwjNqxTCKIM52z5mjXJYB7xGQ7qYNzcxIJHy6W5I2zfOHYf0VozylUoB45KMltQUc74ClEp2gR2T9JDYrxOAiH~q-kHISOtqgpR88~LarxNKgatVcCz0W~Fkn8aLzQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;

    .sloganBox {
      width: 100%;
      max-width: 640px;

      .slogan {
        color: #fff;
        margin: 15px 0;
        font-family: Roboto;
        font-style: italic;
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        text-shadow: 10px 8px 12px rgba(0, 0, 0, 0.37);

        @media screen and (max-width: 768px) {
          font-size: 28px;
          line-height: 40px;
          text-align: center;
        }
      }

      .website-title {
        display: flex;
        align-items: center;
        font-size: 20px;
        color: #646464;
        cursor: default;

        @media screen and (max-width: 768px) {
          margin: 15px 0;
        }

        .icon {
          color: #e0da48;
          margin-right: 6px;
        }
      }
    }

    .searchBox {
      display: flex;
      width: 100%;
      max-width: 620px;
      justify-content: center;

      .search-kind {
        height: 50px;
        width: calc(35% - 42px);
        margin-bottom: 7px;
        padding: 0 30px;
        color: #2f2f2f;
        background: #fff;
        border: 1px solid #e6e6e6;
        box-sizing: border-box;
        cursor: pointer;
        margin-right: 2%;
        box-shadow: 4px 4px 11px rgba(0, 0, 0, 0.25);
        border-radius: 8px;

        option {
          display: block;
          height: 50px;
          text-align: center;
        }
      }

      .search-city {
        height: 50px;
        width: calc(60% - 42px);
        margin-bottom: 7px;
        padding: 0 30px;
        color: #2f2f2f;
        background: #fff;
        border: 1px solid #e6e6e6;
        box-sizing: border-box;
        margin-right: 2%;
        box-shadow: 4px 4px 11px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        option {
          display: block;
          height: 50px;
          text-align: center;
        }
      }

      .search-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;

        .icon {
          margin-right: 10px;
        }
      }
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      height: auto;

      .left,
      .right {
        width: 100%;
      }
    }
  }
}
